
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/bd2734e0-92f5-4302-ad1f-30d22b0703df.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/860b0793-dcb4-434e-9e6f-b8d4c58d1c37.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/e3bb9329-4663-4921-a805-15259cd949e2.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/35eae45a-f9a8-46f8-a2a8-5f0db44a8f6c.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/33f5e864-3a41-4457-88f1-febc25d58bd0.vsidx
SIERRHH/.vs/SIERRHH/FileContentIndex/0b36e66f-a753-49c4-b5fd-de9b07e5640c.vsidx
*.vsidx
/SIERRHH/.vs/SIERRHH/FileContentIndex
*.cs
