@model SIERRHH.Models.PerfilAptitudes

@{
    ViewData["Title"] = "Edit";
}


<style>
    body {
        background-image: url('/img/Fondo11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<div class="row">
    <div class="col"></div>
    <div class="card">
        <div class="card-header">
            <h5>Editar aptitud</h5>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdEmpleado" />
                    <input type="hidden" asp-for="IdAptitudes" />
                    <div class="form-group mt-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a class="btn btn-primary" asp-action="Index">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>


