@model SIERRHH.Models.PuestosVacantes

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-image: url('/img/Fondo11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="row">
    <div class="col-md"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3>
                    <h5>
                        Crear puesto vacante
                    </h5>
                </h3>
            </div>
            <div class="card-body">
                <h5>Ingrese los datos del puesto:</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-2">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="InformacionAdicional" class="control-label">Informacion Adicional</label>
                        <input asp-for="InformacionAdicional" class="form-control" />
                        <span asp-validation-for="InformacionAdicional" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Salario" class="control-label"></label>
                        <input asp-for="Salario" class="form-control" type="number"/>
                        <span asp-validation-for="Salario" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="IdSector" class="control-label">Sector</label>
                        <select asp-for="IdSector" type="text" class="form-control select">
                            <option value="">Seleccione un sector...</option>
                            @foreach (var sector in ViewBag.Sectores)
                            {
                                <option value="@sector.IdSector">@sector.NombreSector</option>
                            }
                        </select>
                        <span asp-validation-for="IdSector" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Estado" class="control-label"></label>

                        <select asp-for="Estado" class="form-control select">
                            <option selected value="">Seleccione un estado...</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                            <option value="Concluido">Concluido</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="FechaPublicacion" class="control-label"></label>
                        <input asp-for="FechaPublicacion" type="date" class="form-control" />
                        <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Modalidad" class="control-label"></label>
                        <select asp-for="Modalidad" class="form-control select">
                            <option selected value="">Seleccione una modalidad...</option>
                            <option value="Presencial">Presencial</option>
                            <option value="Virtual">Virtual</option>
                            <option value="Bimodal">Bimodal</option>
                        </select>
                        <span asp-validation-for="Modalidad" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Crear" class="btn btn-success" />
                        <a asp-controller="PuestosVacantes" class="btn btn-primary mt-2" asp-action="PuestosVacantes">Volver</a>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md"></div>
</div>

<div>
</div>

<div style="height: 90px;"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
