@model IEnumerable<SIERRHH.Models.PuestoAptitudes>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Aptitudes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Descripcion
            </th>
          
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
               
                <td>

                    <a asp-action="Delete" class="btn-generales btn-danger" asp-route-id="@item.IdAptitudes" asp-route-name="@item.IdPuesto">Eliminar</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
