@model SIERRHH.Models.UsuarioEmpleado

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" type="email"/>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol" class="control-label">Rol</label>
                <select asp-for="Rol" class="form-control">
                    <option value="">Seleccione un Rol..</option>

                    <option value="Admin">Admin</option>
                    <option value="Empleado">Empleado</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

           
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                @if (Model.Estado != "Nuevo")
                {
                    <select asp-for="Estado" class="form-control">
                        <option value="">Seleccione un Estado..</option>

                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                }
                else
                {
                    <input asp-for="Estado" class="form-control" readonly />
                }

                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
            

            
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
