@model SIERRHH.Models.UsuarioEmpleado
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url('/img/Fondo11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container">

    <div class="row">

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-warning " role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                    </button>

                    <strong>@TempData["Mensaje"]</strong>

                </div>
            }

            <div class="col-md-12" style="width:100%; padding: 30px;"></div>

            <div class="card">
                <div class="card-header">
                    <h3>Inicio de sesión</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" id="FormulariosLogin">
                        @*solicitamos el email*@
                        <div class="form-group">
                            <label asp-for="Correo" class="control-label">Correo electrónico</label>
                            <input asp-for="Correo" type="email" placeholder="example@dominio.com"class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        @*solicitamos el password*@
                        <div class="form-group mt-2">
                            <label asp-for="Password" class="control-label">Contraseña</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                           
                            <a asp-area="" asp-controller="UsuarioEmpleado" asp-action="RecuperarUsuario">Recuperar contraseña</a>
                        </div>
                        @*Botón que ejecuta el post del formulario*@
                        <div class="form-group mt-3">
                            <input type="submit" value="Ingresar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
          

        </div>

        <div class="col-md-4">
        </div>

    </div>



</div>

