@model SIERRHH.Models.UsuarioEmpleado
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h1>Login</h1>
</center>

<div class="container">

    <div class="row">

        <div class="col-sm-4">
        </div>

        <div class="col-sm-4">
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-warning " role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                    </button>

                    <strong>@TempData["Mensaje"]</strong>

                </div>
            }

            <form asp-action="Login" id="FormulariosLogin">
                @*solicitamos el email*@
                <div class="form-group">
                    <label asp-for="Correo" class="control-label">Email</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                @*solicitamos el password*@
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    ¿No tiene una cuenta?
                    <a class="" asp-area="" asp-controller="Usuarios" asp-action="CrearCuenta">Cree una</a>
                </div>
                @*Botón que ejecuta el post del formulario*@
                <div class="form-group mt-3">
                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                </div>
            </form>

        </div>

        <div class="col-ms-4">
        </div>

    </div>



</div>

