@model SIERRHH.Models.SeguridadRestablecer
@{
    ViewData["Title"] = "RestablecerPassword";
}



<style>
    body {
        background-image: url('/img/Fondo11.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="row">
    <div class="col-md"></div>
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-warning " role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
            </button>

            <strong>@TempData["Mensaje"]</strong>

        </div>
    }
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5>Restablecer Contraseña</h5>
            </div>
            <div class="card-body">
                <form asp-action="RestablecerPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group mt-2">
                        <label asp-for="Correo" class="control-label" hidden>Correo electrónico</label>
                        <input asp-for="Correo" class="form-control" hidden />
                        <span asp-validation-for="Correo" class="text-danger" hidden></span>

                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Password" class="control-label">Contraseña Temporal</label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>

                    <div class="form-group mt-2">
                        <label asp-for="NuevoPassword" class="control-label">Nueva Contraseña</label>
                        <input asp-for="NuevoPassword" class="form-control" type="password" />
                        <span asp-validation-for="NuevoPassword" class="text-danger"></span>

                    </div>

                    <div class="form-group mt-2">
                        <label asp-for="Confirmar" class="control-label">Confirmar Contraseña</label>
                        <input asp-for="Confirmar" class="form-control" type="password" />
                        <span asp-validation-for="Confirmar" class="text-danger"></span>

                    </div>

                    <div class="form-group mt-3">
                        <input type="submit" value="Enviar" class="btn btn-success" />
                        <a class="btn btn-primary mt-2" asp-controller="UsuarioEmpleado" asp-action="Login">Volver</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-md"></div>
</div>

<div>
</div>