@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="row">
        <div class="col-sm-4">
           
            <div>
                <h2 style="color:royalblue">
                    Sistema de Gestión de Recursos Humanos: Los Ángeles Azules
                </h2>
                <p>Un sistema de recursos humanos (RRHH) en una empresa juega un papel fundamental en la gestión y optimización de su activo más valioso: su capital humano. Su función principal es garantizar que la organización cuente con los recursos humanos adecuados, en el lugar correcto y en el momento oportuno, para lograr sus objetivos estratégicos y mantener su competitividad en el mercado.</p>
                <p>Este sistema se encarga de reclutar y seleccionar a los mejores candidatos ya existentes dentro de la empresa para su mejor desarrollo. Además, administra las políticas y procedimientos relacionados con la compensación, el desempeño, la capacitación y el desarrollo profesional. Al promover un ambiente laboral saludable y equitativo, el sistema de recursos humanos fomenta la productividad, la motivación y el compromiso de los empleados. </p>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="row">
                <img src="/img/RH2.jpg" class="img-fluid" alt="...">
                <img src="/img/RH3.jpg" class="img-fluid" alt="...">
            </div>
           
            
        </div>
        <div class="col-sm-4">
            
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Inicio
                </a>
                <a asp-area="" asp-controller="UsuarioEmpleado" asp-action="Create" class="list-group-item list-group-item-action">Agregar un usuario empleado</a>
                <a asp-area="" asp-controller="PerfilProfesional" asp-action="MiPerfil" class="list-group-item list-group-item-action">Agregar un perfil profesional</a>
                <a asp-area="" asp-controller="Certificacion" asp-action="Create" class="list-group-item list-group-item-action">Agregar certificación</a>
                <a asp-area="" asp-controller="Grado" asp-action="Create" class="list-group-item list-group-item-action">Agregar grado</a>
                <a asp-area="" asp-controller="Capacitacion" asp-action="Create" class="list-group-item list-group-item-action">Agregar capacitación</a>
                <a asp-area="" asp-controller="PuestosVacantes" asp-action="Create" class="list-group-item list-group-item-action">Agregar un puesto</a>
                <a asp-area="" asp-controller="Titulos" asp-action="Create" class="list-group-item list-group-item-action">Agregar un titulo</a>
               
            </div>

        </div>
    </div>
    <div style="height: 45px;"></div>
   
   
</div>
