html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
   
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

th,
td {
    text-align: center;
    border: 1px solid #ddd;
}



* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn {
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-generales {
    padding: 5px;
    width: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


a.btn-generales {
    text-decoration: none;
}

.success {
    background-color: #04AA6D;
}

.success:hover {
        background-color: #46a049
}



p{
    text-align:justify;
}

h3{
    text-align: center;
}


.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.list-group {
    padding: 15px;
}

