@model SIERRHH.Models.Concurso

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Concurso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConcurso" class="control-label"></label>
                <input asp-for="IdConcurso" class="form-control" />
                <span asp-validation-for="IdConcurso" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdPuesto" />
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group">
                <label asp-for="ExperienciaPuesto" class="control-label"></label>
                <input asp-for="ExperienciaPuesto" class="form-control" />
                <span asp-validation-for="ExperienciaPuesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puntaje" class="control-label"></label>
                <input asp-for="Puntaje" class="form-control" />
                <span asp-validation-for="Puntaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

