@{
    ViewData["Title"] = "Registro Correcto";
}



<div class="alert alert-success" role="alert">
    <h2>Felicitaciones te haz registrado correctamente en el concurso</h2>
    <p>El equipo de recursos humanos revisará, tu perfil y pronto respondera tu solicitud </p>
</div>

