@{
    ViewData["Title"] = "Requisistos Invalidos";
}

<div class="alert alert-warning" role="alert">
    <h2>No cumples con los requisitos necesarios</h2>
    <p>Lo sentimos, pero tu perfil profesional no cumple con las expectativas y requisitos para este puesto. No cuentas con un certificado o títulos que se asocien con el sector. </p>
</div>

