@{
    ViewData["Title"] = "Requisistos Invalidos";
}

<h2>No cumples con los requisitos necesarios</h2>
<p>Lo sentimos, pero tu perfil profesional no cumple con las expectativas y requisitos para este puesto, ya que no cuentas con un certificado o titulos que se asocien con el sector </p>