@{
    ViewData["Title"] = "Ya Concursado";
}

<div class="alert alert-info" role="alert">
    <h2>Ya has concursado por este puesto</h2>
    <p>Lo sentimos, pero ya has participado en este concurso.</p>
</div>
